/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}
nav{
    z-index: 999;
    width: 100%;
    position: fixed;
}
/* COMMON */
.padding-t{
    padding-top: 100px;
}
.row{
    margin-bottom: 50px;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.red-discount{
    position: absolute;
    bottom: 130px;
    left: 0px;
    width: 50px;
    height: 20px;
    color: white;
    background-color: red;
}
.eco{   
    position: absolute;
    bottom: 130px;
    left: 52px;
    min-width: 50px;
    height: 20px;
    color: white;
    background-color:#008000;   
}
#test{
    left: 0;
}
ul{
    list-style-type: none;
    padding: 1em 0;
}
/* UTILITY */
.display-flex{
    display: flex;
}
.justify-content{
    justify-content: space-between;
}
.red-font{
    color: red;
}
.font-marker{
    font-size: 12px;
    text-align: center;
    padding: 3px 10px;
}
.font-lt{
    text-decoration: line-through;
}
.icon{
    padding: 1em 0;
}
.hearth{
    font-size: 1.5em;
    position: absolute;
    right: 20px;
    top: 20px;
}
.hearth:hover{
    color: red;
}
/* NAVIGATOR BANNER */
nav{
    color: #E7E7E6;
    background-color:  #FF6900;
    height: 50px;
}
.logo{
    margin-top: 10px;
    height: 30px;
}
.display-flex li{
    padding-right: 10px;
}
/* MAIN-SHOP */
.col{
    width: calc(100% / 3 - 10px);
}
.card{
    position: relative;   
}

/* FOOTER */

footer{
    color: white;
    height: 100px;
    background-color: #1A1A1A;
}
.credit{  
    padding: 26px 0;
}
a{
    padding: 1px 0;
}
.social{
    padding: 26px 0
}

/* HOOVER */
.absolute{
    position: absolute;
    top: 0;
}
.absolute:hover{
    display: none;
}