/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
img{
    max-width: 100%;
}
.display-flex{
    display: flex;
}
.justify-content{
    justify-content: space-between;
}
/* UTILITY */
.mt{
    margin-top: 200px;
}
/* NAVIGATOR BANNER */
nav{
    background-color:  orange;
    height: 100px;
}
/* MAIN-SHOP */
.col{
    width: calc(100% / 3 - 10px);
}
.card{
    
}